body {
    background-color: rgb(115, 112, 112);
}

/* header properties */

.headercontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.header {
    border: 2px solid black;
    font-family: fantasy;
    font-size: 50px;
    background-color: white;
}

/* button properties */
.buttoncontainer {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
}

button {
    margin:auto;
    background-size:cover;
    display: inline;
    justify-content: space-around; 
    transition: all 0.05s ease;
}

/* animation for button */
.playing {
    transform: scale(0.95);
}

/* announcement properties */
.announcement {
    text-align: center;
    font-family: fantasy;
    font-size: 40px;
}


/* restart button properties */
.restartarea {
    display: flex;
    justify-content: center;
}

.restart {
    font-family: cursive;
    font-size: 25px;
}

/* responsive interface */
@media (max-width: 950px){
    img {
        width: 100%;
        max-width: 300px;
        height:auto;
    }

    .header {
        font-size: 25px;
    }

    .announcement {
        font-size: 25px;
    }
    .restart {
        font-size:15px;
    }

}